<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>ЗАПУСКАЕМ</h1>
<p><p>   ░ГУСЯ░▄▀▀▀▄░РАБОТЯГИ░░</p>
<p>  ▄███▀░◐░░░▌░░░░░░░</p>
<p>  ░░░░▌░░░░░▐░░░░░░░</p>
<p>  ░░░░▐░░░░░▐░░░░░░░</p>
<p>  ░░░░▌░░░░░▐▄▄░░░░░</p>
<p>  ░░░░▌░░░░▄▀▒▒▀▀▀▀▄</p>
<p>  ░░░▐░░░░▐▒▒▒▒▒▒▒▒▀▀▄</p>
<p>  ░░░▐░░░░▐▄▒▒▒▒▒▒▒▒▒▒▀▄</p>
<p>  ░░░░▀▄░░░░▀▄▒▒▒▒▒▒▒▒▒▒▀▄</p>
<p>  ░░░░░░▀▄▄▄▄▄█▄▄▄▄▄▄▄▄▄▄▄▀▄</p>
<p>  ░░░░░░░░░░░▌▌░▌▌░░░░░</p>
<p>  ░░░░░░░░░░░▌▌░▌▌░░░░░</p>
<p>  ░░░░░░░░░▄▄▌▌▄▌▌░░░░░</p>
<a href="/1.html">first page</a>
</body>
</html>